{% extends './base.html' %}

{% block body %}
{% include './nav.html' %}
<div class="container py-3">
    {% block container %}
    <section>
        <header>{% block header %}{% endblock %}</header>
    </section>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <br/>
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong style='font-size: 14px;'>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    {% endblock %}
</div>
{% endblock %}