{% extends './base.html' %}

{% block body %}
{% include './nav.html' %}
<div class="container py-3">
    {% block container %}
    <section>
        <header>{% block header %}{% endblock %}</header>

        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        'error' %}
        <div class="alert alert-danger alter-dismissible fade show" role="alert">{{ message }}<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissible fade show" role="alert">{{ message }}<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}

    </section>
    {% block content %}{% endblock %}
    {% endblock %}
</div>
{% endblock %}