{% extends './base.html' %}

{% block title %}Registro de usuario{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signUP.css')}}">
{% endblock %}

{% block body %}

<div class="conteiner">
    <div class="row justify-content-center pt-5 mt-5">
        <div class="col-md-8 col-sm-8 col-xl-6 col-lg-5 formulario">
            <form action="/signup" class="form-signup" method="post">
                <div class="form-group text-center pt-3">
                    <!--<img class="mb-4" src="{{ url_for('static', filename='img/dental-clinic.ico')}}" alt="" width="72" height="72">  -->
                    <h4 class="text-light">REGISTRARSE</h4>
                </div>
                <div class="form-group mx-sm-4 pt-3">
                    <input type="text" class="form-control" placeholder="Nombre de Usuario" minlength="6" maxlength="20" required autofocus>
                </div>
                <div class="form-group mx-sm-4 pt-3">
                    <input type="text" class="form-control" placeholder="Apellido Parterno" minlength="6" maxlength="20" required autofocus>
                </div>
                <div class="form-group mx-sm-4 pt-3">
                    <input type="text" class="form-control" placeholder="Apellido Materno" minlength="6" maxlength="20" required autofocus>
                </div>
                <div class="form-group mx-sm-4 pt-3">
                    <input type="text" class="form-control" placeholder="Cedula Profesional (opcional)">
                </div>
                <div class="form-group mx-sm-4 pt-3">
                    <input type="email" class="form-control" placeholder="Correo elctronico" minlength="6" maxlength="25" required autofocus>
                </div>
                <div class="form-group mx-sm-4 pt-3">
                    <input type="password" class="form-control" placeholder="Contraseña" minlength="8" maxlength="20" required autofocus>
                </div>
                <div class="form-group mx-sm-4 pt-3">
                    <input type="password" class="form-control" placeholder="Confirmar Contraseña" minlength="8" maxlength="20" required autofocus>
                </div>
                <div class="form-group mx-sm-4 pb-2">
                    <button class="w-100 btn-lg btn-primary" type="submit">REGISTRAR</button>
                </div>

                {% with messages = get_flashed_messages(with_categories=True) %}

                {% if messages %}
                <br />
                {% for category, message in messages %}
                {% if category == 'warning' %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong style='font-size: 14px;'>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                </button>
                </div>
                {% else %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong style='font-size: 14px;'>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}

                {% endwith %}


            </form>
        </div>
    </div>
</div>
{% block customJS %}
<script src="{{ url_for('static', filename='js/register.js')}}"></script>
{% endblock %}

{% endblock %}